%p#notice= notice
%h1 Listing Holidays
%table.display{:cellspacing => "0", :id => "", :width => "100%"}
  %thead
    %tr
     
      %th Date
      %th Reason
      %th Action
  %tbody
    - @holidays.each do |holiday|
      %tr
        %td= holiday.date
        %td= holiday.reason
        %td
          =link_to 'Show', holiday
          = link_to 'Edit', edit_holiday_path(holiday)
          = link_to 'Destroy', holiday, method: :delete, data: { confirm: 'Are you sure?' }
%br/
= link_to 'New Holiday', new_holiday_path
